<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of Quiz</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        ul {
            list-style-type: none;
            margin: 0%;
            padding: 0;
            overflow: hidden;
            background-color: #321bb8;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #0f0627;
        }
    </style>


</head>
<body>
    <ul>
        <li><a class="active" href="http://localhost:8080/teacher/teacherpanel">Home</a></li>
       
        <li><a href="http://localhost:8080/teacher/teacherpanel">Back</a></li>
        <li><a href="http://localhost:8080/authentication/Logout">Logout</a></li>
    </ul>
    <h1>List of quizzes</h1>


    {{range.quiz}}
    
    <input type="button" value="{{.QuizName}}" id="{{.QuizName}}">

    {{end}}







</body>
<!-- $.ajax({
    url:"http://localhost:8080/teacher/getquiz?quizname="+$("{{.QuizName}}").text(),
    type:"GET"
}); -->

<script>
    
        
       $(document).on('click','input[id]',function(e){
        var quizname=$(this).attr('id');
        console.log(quizname)
        console.log(typeof(quizname))
        
        myfunction(quizname)

       });
       function myfunction(s){
        console.log(s)
        var urlLink="http://localhost:8080/teacher/quiz?quizname="+s
        window.open(urlLink)

    }

    
</script>

</html>