<!-- 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
    ul {
            list-style-type: none;
            margin: 0%;
            padding: 0;
            overflow: hidden;
            background-color: #321bb8;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #0f0627;
        }
</style>
<body>
    
    <ul>
        <li><a class="active" href="http://localhost:8080/teacher/teacherpanel">Home</a></li>
       
        <li><a href="http://localhost:8080/teacher/listofquiz">Back</a></li>
        <li><a href="http://localhost:8080/authentication/Logout">Logout</a></li>
    </ul>
<h1>Quiz Name:-{{.name}}</h1>
<hr>
{{range .questions}}

<h3>question:-{{.Question}}</h1>
<h4>(A){{.OptionA}}</h4>
<h4>(B){{.OptionB}}</h4>
<h4>(C){{.OptionC}}</h4>
<h4>(D){{.OptionD}}</h4>
<h4>Answer:-{{.Answer}}</h4>
<h4>DIfficulty:-{{.Difficulty}}</h4>
<hr id="lasthr">






{{end}}
</body>
<script>
$(document).ready(function(){
    console.log("js loaded")
    $(`<h1>Quiz Name:-{{.name}}</h1>
<hr>
{{range .questions}}

<h3>question:-{{.Question}}</h1>
<h4>(A){{.OptionA}}</h4>
<h4>(B){{.OptionB}}</h4>
<h4>(C){{.OptionC}}</h4>
<h4>(D){{.OptionD}}</h4>
<h4>Answer:-{{.Answer}}</h4>
<h4>DIfficulty:-{{.Difficulty}}</h4>
<hr id="lasthr">






{{end}}`).insertAfter('#lasthr:last');
})
</script>
</html> -->


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   
    <style>
        

        ul {
  list-style-type: none;
  margin: 0%;
  padding: 0;
  overflow: hidden;
  background-color:#57A8CC;;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.hide{
    display: none;
}
li a:hover {
  background-color: #0f0627;
}
    </style>
  </head>
  <body>
    <ul>
        <li><a class="active" href="http://localhost:8080/teacher/teacherpanel">Home</a></li>
        <!-- <li><a href="http://localhost:8080/student/resultdashboard">Result Dashboard</a></li> -->
        <li><a href="http://localhost:8080/teacher/listofquiz">Back</a></li>
        <li><a href="http://localhost:8080/authentication/Logout">Logout</a></li>
      </ul>
      <label for="categories">Click on category:-</label>
      <input type="radio" name="categories" value="easy" id="easy" onclick="changestate()">easy
      <input type="radio" name="categories" value="medium" id="medium" onclick="changestate()">medium
      <input type="radio" name="categories" value="hard" id="hard" onclick="changestate()">hard

      <h1>Quiz Name:-{{.name}}</h1>
<hr>
{{range .questions}}
<label for="question" class="{{.Difficulty}} hide question">Question:-</label>

<h5 class="{{.Difficulty}} hide question {{.Question}} questionname" id="question">{{.Question}}</h5>
<label for="optiona" class="{{.Difficulty}} hide question">(A)</label>
    
<h6 class="{{.Difficulty}} hide question {{.Question}} optiona" id="optiona">{{.OptionA}}</h6>
<label for="optionb" class="{{.Difficulty}} hide question">(B)</label>
<h6 class="{{.Difficulty}} hide question {{.Question}} optionb" id="optionb">{{.OptionB}}</h6>
<label for="optionc" class="{{.Difficulty}} hide question">(C)</label>
<h6 class="{{.Difficulty}} hide question {{.Question}} optionc" id="optionc">{{.OptionC}}</h6>
<label for="optiond" class="{{.Difficulty}} hide question">(D)</label>
<h6 class="{{.Difficulty}} hide question {{.Question}} optiond" id="optiond">{{.OptionD}}</h6>
<label for="answer" class="{{.Difficulty}} hide question">Ans:-</label>
<h6 class="{{.Difficulty}} hide question {{.Question}} answer" id="answer">{{.Answer}}</h6>
<label for="difficulty" class="{{.Difficulty}} hide question">Difficulty:-</label>
<h6 class="{{.Difficulty}} hide question {{.Question}} difficulty" id="difficulty">{{.Difficulty}}</h6>

<button id="{{.Question}}"  class="{{.Difficulty}} hide question btn-outline-primary"onclick="AddQuesion(this)">Add Question</button>

<hr id="lasthr">
{{end}}
      <hr id="lasthr">
    <label for="newquiz">Enter the name of quiz:-</label><br>
    <input type="text" name="newquiz" id="newquiz"><br><br>
      <button onclick="ShowAddedQuestions()" class="btn-outline-success">Add questions to this quiz</button>

<!-- <a href="http://localhost:8080/teacher/createquizz">Create Quizz</a><br><br>
<a href="http://localhost:8080/teacher/addstudent">Add students for participating in Quiz</a><br><br>

<a href="http://localhost:8080/teacher/listofquiz">List of Available quizzes</a><br><br>
<a href="http://localhost:8080/teacher/showstudentresult">Show student performance</a><br><br> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script>
        // $(document).ready(function(){
        //     console.log("js loaded")
        // //     $(`<h1>Quiz Name:-{{.name}}</h1>
        // // <hr>
        // // {{range .questions}}
        
        // // <h3>question:-{{.Question}}</h1>
        // // <h4>(A){{.OptionA}}</h4>
        // // <h4>(B){{.OptionB}}</h4>
        // // <h4>(C){{.OptionC}}</h4>
        // // <h4>(D){{.OptionD}}</h4>
        // // <h4>Answer:-{{.Answer}}</h4>
        // // <h4>DIfficulty:-{{.Difficulty}}</h4>
        // // <hr id="lasthr">
        
        
        
        
        
        
        // // {{end}}`).insertAfter('#lasthr:last');
        //  })
        function changestate(){
            const questions=document.querySelectorAll(".question")
        const radioButtons=document.querySelector('input[type="radio"]:checked')
        console.log(radioButtons.value)
        console.log(questions)

        questions.forEach(element=>{
            if(element.classList.contains(radioButtons.value)){
                element.classList.remove('hide')
            }
            else{
                element.classList.add('hide')
            }

        })
        }
        let QuesionsArr=[]
        function AddQuesion(e){
            temp=e.id
            const Questions=document.getElementsByClassName(temp)
            let Ques = [].map.call(Questions, function (e) {
                return e
            });
           console.log(Ques)
            var object={}
            Ques.forEach(question=>{
                console.log("loop called")
                if(question.classList.contains("questionname")){
                    object={}
                    object["question"]=question.innerHTML
                }
                else if(question.classList.contains("optiona")){
                    object["optiona"]=question.innerHTML
                }
                else if(question.classList.contains("optionb")){
                    object["optionb"]=question.innerHTML
                }
                else if(question.classList.contains("optionc")){
                    object["optionc"]=question.innerHTML
                }
                else if(question.classList.contains("optiond")){
                    object["optiond"]=question.innerHTML
                }
                else if(question.classList.contains("answer")){
                    object["answer"]=question.innerHTML
                }
                else if(question.classList.contains("difficulty")){
                    object["difficulty"]=question.innerHTML
                    console.log(object)
                    QuesionsArr.push(object)
                }

            })
            console.log(QuesionsArr)
            alert("question added successfully!!!!")
           
            
        }
       
        function ShowAddedQuestions(){
            $(document).ready(function(){
                console.log("questions addedd in")
                $.ajax({
                url: "http://localhost:8080/teacher/updatequizz?quizname=" + $("#newquiz").val(),
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(QuesionsArr)

            });
            alert("quiz created successfully!!!")
            window.open("http://localhost:8080/teacher/teacherpanel")

            })
             

        
        }
        
        </script>

</body>
</html>