

<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
ul {
  list-style-type: none;
  margin: 0%;
  padding: 0;
  overflow: hidden;
  background-color: #321bb8;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0f0627;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="">Home</a></li>
  <li><a href="http://localhost:8080/student/resultdashboard">Result Dashboard</a></li>
  <li><a href="http://localhost:8080/authentication/Login">Back</a></li>
  <li><a href="http://localhost:8080/authentication/Logout">Logout</a></li>
</ul>
<h1>welcome {{.name}}</h1>


{{range .data}}

<input type="button" value="{{.QuizName}}" id="{{.QuizName}}">

{{end}} 
<h1>{{.error}}</h1>
</body>
</html>





<script>
     $(document).on('click','input[id]',function(e){
        var quizname=$(this).attr('id');
        console.log(quizname)
        console.log(typeof(quizname))
        
        myfunction(quizname)

       });
       function myfunction(s){
        console.log(s)
        var urlLink="http://localhost:8080/student/quiz?quizname="+s
        window.open(urlLink)

    }   


</script>